<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Linkyfy</title>
    <link rel="icon" href="/images/link_icon.svg">
    <link rel="stylesheet" href="/stylesheets/url.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..
   900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,
   400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>

    <main>


        <div class="navbar">
            <div class="img1">

            <img src="/images/link_icon.svg" alt="company_logo">
            <div class="name">
                <h2>Linkyfy</h2>
            </div>

           </div>
           
           <div class="nav2">
            <h3>ABOUT</h3>
            <h3>FAQ</h3>
            <h3>PRICING</h3>
        </div>

           <div class="button">
              <button type="button" class="login">login</button>
              <button type="button" class="signup">signup</button>
           </div>
        </div>

        <div class="hero-sec">
            <div class="left">
               <h1>Build stronger digital <span>Connections</span></h1>
               <p>Use our URL shortener, QR Codes, and landing pages to engage your 
                audience and connect them to the right information. Build, edit, and 
                track everything inside the Linkyfy Connections Platform.</p>

                <button type="button" class="cta">try for free</button>
            </div>

            <div class="right">
                <img src="/images/main-img.jpg" alt="">
            </div>
        </div>


    <div class="body">

        <div class="quote">
            <h3>Great connections start with a click</h3>
            <h1> Sign up for a free account and put Bitly to work</h1>
        </div>
    <form method="post" action="/home/url">
        <label for="url">url</label>
        <input type="text" placeholder="generate Url" name="url" id="url">
        <button type="submit">generate Url</button>
    </form>

   </div>
   </main>
</body>
</html>