* {
    box-sizing: border-box;
    font-family: "Roboto Condensed", sans-serif;
    padding: 0px;
    margin: 0px;
   
}

body {
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

main {
    height: 100%;
    width: 100%;
}

.navbar {
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2vmin 20vmin ;
}

.nav2 {
   display: flex;
   width: 40%;
   display: flex;
   justify-content: space-evenly;
   
}

.nav2 h3 {
    font-weight: 500;
}

.img1 {
    width: 6vmin;
    height: 8vmin;
    display: flex;
    align-items: center;
    color: #007bff;
    font-size: 1.2em;
    object-fit: contain;
    gap: 10%;
  
}

.button {
    height: 8vmin;
    width: 30vmin;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.login , .signup {
    padding: 4% 8%;
    border-radius: 1.5em;
    background-color: #007bff;
    color: white;
    font-weight: 800;
    font-size: 1.2em;
    border: none;
}

.hero-sec {
    width: 100%;
    display: flex;
    padding: 2vmin 20vmin 0vmin 20vmin;
   
}

.right {
  width: 50%;
}

.right img {
    width:100%;
    height: 95%;
  
}

.left {
    display: flex;
    width: 50%;
    flex-direction: column;
   
    padding: 4% 5% 4% 0%;
    
}

.left h1 {
    padding-top: 3%;
    font-size: 60px;
    margin-bottom: 2%;
    line-height: 1em;
}

.left h1 span {
    color: #007bff;
}

.left p {
    word-spacing: 0.2em;
    font-size: 18px;
    width: 90%;
    line-height: 1.5em;
}

.left button {
    width: 30%;
    margin-top: 8%;
    padding: 3% ;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 0.8em;
    font-size: 120%;
    font-weight: 800;
    cursor: pointer;
}

.body {
    display: flex;
    flex-direction: column;
    background-color: #F5F6F7;
    flex-wrap: wrap;
    text-align: center;
    
   
}

.quote h3 {
    font-size: 1.3vmax;
    margin: 0.7vmax;
    color: #007bff;
    padding: 2% 0px 0px 0px;
}

.quote {
    display: flex;
    flex-direction: column;
}

form {
    border: 1px solid gray;
    border-radius: 1.2em;
    padding: 0px 4% 0% 2%;
    margin: 4vmax auto 2vmax auto; 
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: column;
    width: 60vmax;
    background-color: white;
   

}

form label {
    font-size: 1.2vmax;
    font-weight: 400;
}

form .text-large {
   font-size: 1.6vmax;
   margin-top: 2vmax;
   font-weight: 800;
}

form input, button, label{
   margin: 0.5vmax 0px;
}

form input {
    width: 100%;
    height: 3vmax;
    border-radius: 0.6em;
    padding: 0px 4% 0px 4%;
    font-size: 1.2em;
    border: 1px solid gray;
}

form button {
  margin-bottom: 2vmax;
  height: 3vmax;
  border-radius: 0.6em;
  padding: 1% 4%;
  font-size: 1.2em;
  font-weight: 900;
  border: none ;
  background-color:#007bff;
  color: white;
 cursor:pointer;
}

.err {
    color: red;
    padding: 0.5% 2%;
    font-weight: 100;
}


.about {
    display: flex;
    margin-top: 6vmax;
    padding: 2vmin 20vmin 0vmin 20vmin;
}



.about .right {
   margin: 0px 2vmax 0px 0px;
    font-size: 1.2vmax;
    word-spacing: 0.2vmax;
    display: flex;
    justify-content: center;
    align-items: center;
   font-weight: 100;
}

.faq {
    margin-top: 6vmax;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.ques-box {
    display: flex;
    align-items: center;
    gap: 2vmax;
    padding: 0.9vmax;
    border-radius: 0.8em;
    background-color:#D8E1EF;
}

.ques {
    width: 45%;
    padding: 2% 0px 0px 0px;
    cursor: pointer;
}

.ques .inactive {
    padding: 1vmax 1vmax 0vmax 3.8vmax;
    display: flex;
    flex-wrap: wrap;
    display: none;
}

.ques .active {
    display: block;
    word-spacing: 0.4vmax;
    font-size: 1vmax;
}

.footer {
    margin: 4vmax 0px 0px 0px;
    height: 10vmax;
    border-top: 1px solid;
    display: flex;
   padding: 2vmin 20vmin 0vmin 20vmin;
   
}

.footer .logo {
   
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  

}

.footer .logo img {
   height: 25%;
   width: 14%;
  
}

.logo h2{
  font-size: 2vmax;
  color: #007bff;
}
.socials {
    width: 50%;
    padding-left: 20%;
    gap: 10%;
    align-items: center;
    display: flex; 
    
}

